---
const { title, start, end, organization, city, state, excludeVerticalBar } = Astro.props;
const buildTimeLineString = (start: string, end: string, city: string, state: string) => {
	let timeline = '';
	if (start) {
		timeline = `${timeline}${start}`;
		if (end) {
			timeline = `${timeline} - ${end}`;
		}
	}

	if (city) {
		if (timeline.length > 0) {
			timeline = `${timeline}, ${city}`;
		} else {
			timeline = `${city}`;
		}

		if (state) {
			timeline = `${timeline}, ${state}`;
		}
	}

	return timeline;
};
const timelineString = buildTimeLineString(start, end, city, state);
const experienceDataClasses = !!excludeVerticalBar ? 'bd-grid mb-5' : 'bd-grid mb-5 px-5';
---

<div class="flex">
	{
		!!!excludeVerticalBar && (
			<div class="education__time">
				<span class="mt-1 block h-4 w-4 rounded-full bg-primary" />
				<span class="education__line block h-full w-[2px] translate-x-[7px] bg-primary" />
			</div>
		)
	}
	<div class={`experience__data ${experienceDataClasses}`}>
		<h3 class="mb-1 text-xl font-semibold"><b>{title}</b>, <i>{organization}</i></h3>
		{timelineString.length > 0 && <span class="text-lg font-light">{timelineString}</span>}
		<p class="my-2 text-justify">
			<slot />
		</p>
	</div>
</div>
